@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: black;
}
.accordion-button:focus {
    box-shadow: none;
  }
.accordion-button::after {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}
::-webkit-scrollbar{
    display:none;
}

@media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
}
